# Makefile files

Makefile
Makefile.Debug
Makefile.Release
*/Makefile
*/Makefile.Debug
*/Makefile.Release

# User specific files
*pro.user.*
*pro.user

# .exe files
*.exe

# .o files
*.o

# .swp files
*.swp
